 <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br/>
                <h1>Create a new Survey option</h1>
                <div class="post-preview">
                   <form ng-submit="optionBlog.createOption(optionBlog.questionId)">

                       <input placeholder=" optionText of Blog" type="text" name="optionText" ng-model="optionBlog.optionText" required=""><br/><br/>

  
                       <br/><br/>


                       <input type="submit" value="Create a option">



                   </form>
                </div>
                <hr>
                
              
             
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#/">Back to Home &rarr;</a>
                    </li>
                </ul>
            </div>
</div>