 <div class="row" ng-init="currentBlog.getCurrentPost()">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br/>
                <h1>Edit this blog post</h1>
                <div class="post-preview">
                   <form ng-submit="currentBlog.editPost(currentBlog.surveyId)">
                       
                     <input placeholder="surveyTitle of Blog" type="text" name="surveyTitle" ng-model="currentBlog.blog.surveyTitle" required=""><br/><br/>
                       <input placeholder="surveySubtitle of Blog" type="text" name="surveySubtitle" ng-model="currentBlog.blog.surveySubtitle" required=""><br/><br/>
                       <input placeholder="Instructions of Blog" type="text/html" name="Instructions" ng-model="currentBlog.blog.instructions" required=""><br/><br/>
                  
                       <br/><br/>
                       <input type="submit" value="Edit this Blog">



                   </form>
                </div>
                <hr>
                
              
             
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#/">Back to Home &rarr;</a>
                    </li>
                </ul>
            </div>
</div>